body {
    background-color: #666669;
}

h1 {
    text-transform: uppercase;
    font-size: 84px;
    color: lightgrey;
}

h2 {
    text-transform: uppercase;
    padding: 55px 50px 50px 180px;
    font-size: 50px;
    color: lightgrey;
}


.logo {
    height: 200px;
    width: auto;
    margin: 30px 0;
}

.bar {
    height: 300px;
    width: auto;
}

p {
    margin-left: 190px;
    font-size: 18px;
    color: lightgrey;
}

button {
    margin-left: 0 auto;
    height: 50px;
    width: 300px;
    margin-top: 30px;
}
